

  h1 {
    border-bottom: 1px solid #ccc;
    margin: 0 0 0.8em 0;
    padding: 0 0 0.2em 0;
    text-align:center;
  }

  textarea {
    width: 100%;
    height: 100%;
  }

  .div-ta {
    margin: auto;
    width: 33%;
    height: 80px;
    padding: 5px;
  }

  .div-btn {
    margin: auto;
    width: 40px;
    padding: 5px;
  }
